<ul>
    <li>
        <a href="/">
            List of courses
        </a>
    </li>
        <li>
        <a href="/category_list/">
            List of categories
        </a>
    </li>
    <li>
        <a href="/create_course/">
            Create a course
        </a>
    </li>
    <li>
        <a href="/create_category/">
            Create a category
        </a>
    </li>
    <li>
        <a href="/create_student/">
            Create a student
        </a>
    </li>
    <li>
        <a href="/student_list/">
            List of students
        </a>
    </li>
    <li>
        <a href="/add_student/">
            Add a student to the course
        </a>
    </li>
</ul>